/* Color-Scheme For All Themes*/


* {
    background:       #3b4252ff;
    background-alt:   #ffffffff;
    foreground:       #d8dee9ff;
    border:           #5895DCff;
    border-alt:       #DA717Fff;
    selected:         #88c0d0ff;
    urgent:           #EC407Aff;
    logo:             #EC407Aff;
    on:               #61C766ff;
    off:              #EC7875ff;
}
